.all-container-modal {
    background: rgba(0, 221, 255, 0.5);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.show {
    opacity: 1;
    pointer-events: visible;
}

.all-container-modal.show .modal-container {
    transform: translateY(0);
}

.modal-container {
    background-image: url('../assets/images/wall.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 60%;
    width: 26em;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border-radius: 20px;
    position: relative;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400px);
    transition: all 0.3s ease-in-out;
}


.modal-container .project-description {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    color: #323232;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.pokemon-img-modal {
    width: 40%;
    margin-top: 5%;
}

.username-github {
    font-style: italic;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.container-modal-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 7%;
    height: 5vh;
}

.hand-button {
    width: 10%;
    animation: change-size 0.55s infinite;
    animation-timing-function: ease-in;
    position: absolute;
}

.hand-button:hover {
    animation: change-size 0.30s infinite;
}


@keyframes change-size {
    0% {
        width: 13%;
    }

    50% {
        width: 12%;
    }

    100% {
        width: 11.2%;
    }
}